@use '../../styles/_colors' as *;
@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

@include theme-variables(
  (
    'checkbox-border-color': (
      'light': $grey-300,
      'dark': $grey-600,
    ),
    'checkbox-bg-color': (
      'light': $white,
      'dark': $grey-800,
    ),
    'checkbox-checkmark-color': (
      'light': $white,
      'dark': $white,
    ),
    'checkbox-marked-bg-color': (
      'light': $navy-600,
      'dark': $sky-500,
    ),
    'checkbox-disabled-marked-bg-color': (
      'light': $grey-600,
      'dark': $grey-600,
    ),
    'checkbox-disabled-checkmark-color': (
      'light': $white,
      'dark': $grey-400,
    ),
    'checkbox-focus-ring-color': (
      'light': $navy-600,
      'dark': $sky-500,
    ),
    'checkbox-hover-ring-color': (
      'light': $navy-100,
      'dark': $sky-900,
    ),
    'checkbox-hover-bg-color': (
      'light': $navy-100,
      'dark': $sky-900,
    ),
    'checkbox-disabled-bg-color': (
      'light': $grey-100,
      'dark': $grey-800,
    ),
    'checkbox-disabled-border-color': (
      'light': $grey-300,
      'dark': $grey-600,
    ),
    'checkbox-error-color': (
      'light': $red-600,
      'dark': $red-400,
    ),
  )
);

.Checkbox {
  display: flex;
  align-items: flex-end;
  gap: #{$space-sm};
  width: fit-content;

  &:not(.disabled) {
    .checkbox:hover {
      cursor: pointer;
      outline: 8px solid var(--checkbox-hover-ring-color);
    }

    &:not(.selected) {
      .checkbox:hover {
        background: var(--checkbox-hover-bg-color);
      }
    }
  }

  &.focus-visible {
    outline: 2px solid var(--checkbox-hover-ring-color);
    outline-offset: #{$space-2};
  }

  .checkbox {
    border: 1px solid var(--checkbox-border-color);
    background: var(--checkbox-bg-color);
    border-radius: #{$radius-sm};
    transition: all 200ms;
    outline: 8px solid transparent;
    width: #{$space-5};
    height: #{$space-5};
  }

  svg {
    fill: none;
    width: 100%;
    stroke: var(--checkbox-checkmark-color);
    stroke-width: 2px;
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &.selected {
    &:not(.disabled) {
      .checkbox {
        background: var(--checkbox-marked-bg-color);
        border-color: var(--checkbox-marked-bg-color);
      }

      svg {
        stroke-dashoffset: 44;
      }
    }

    &.disabled {
      .checkbox {
        background: var(--checkbox-disabled-marked-bg-color);
        border-color: var(--checkbox-disabled-marked-bg-color);

        svg {
          stroke: var(--checkbox-disabled-checkmark-color);
          stroke-dashoffset: 44;
        }
      }
    }
  }

  &.disabled {
    .checkbox {
      background: var(--checkbox-disabled-bg-color);
      border-color: var(--checkbox-disabled-border-color);
      cursor: not-allowed;
    }
  }

  &.invalid {
    .checkbox {
      border-color: var(--checkbox-error-color);
    }
  }
}
